body {
  height: 100vh;
  padding-top: 10vh;
  margin: 0;
  box-sizing: border-box;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 500;
  background-image: url('./fon.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 600px;
  height: 250px;
  margin: auto;
  padding-top: 10%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5%;
}

.container__frapper {
  width: fit-content;
  height: auto;
  margin: auto;
}

.frapper__text {
  margin: 0;
  padding: 0;
  color: rgb(49, 49, 129);
  transition: all 2s;
  font-size: 20px;
  visibility: visible;

}
.frapper__text:hover {
  transition: color 2s, font-size 2s, letter-spacing 2s;
  color: tomato;
  font-size: 25px;
  font-weight: 800;
  letter-spacing: 3px;
}